<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoomoomoo.fims.app.dao.SysIncomeDao">

    <sql id="Base_Column_List">
        income_id incomeId, user_id userId, income_type incomeType,
        income_date incomeDate, income_company incomeCompany,
        income_amount incomeAmount, income_memo incomeMemo,
        create_date createDate, modify_date modifyDate,
        create_user createUser, modify_user modifyUser
    </sql>

    <select id="selectPage" parameterType="com.hoomoomoo.fims.app.model.SysIncomeQueryModel"
            resultType="com.hoomoomoo.fims.app.model.SysIncomeModel">
        select
            <include refid="Base_Column_List"/>
        from sys_income
        <where>
            <if test="incomeId != null" >
                and income_id = #{incomeId}
            </if>
            <if test="userId != null" >
                and user_id = #{userId}
            </if>
            <if test="incomeType != null" >
                and income_type = #{incomeType}
            </if>
            <if test="incomeDate != null" >
                and to_char(income_date, 'yyyy-MM') = to_char(#{incomeDate}, 'yyyy-MM')
            </if>
            <if test="incomeCompany != null" >
                and income_company = #{incomeCompany}
            </if>
            <if test="incomeAmount != null" >
                and income_amount = #{incomeAmount}
            </if>
            <if test="isAdmin == false">
                and user_id = #{userKey}
            </if>
        </where>
        order by
        <if test="sort != null and order != null" >
            ${sort} ${order}
        </if>
        <if test="sort != null and order == null" >
            ${sort}
        </if>
        <if test="sort == null">
            income_date desc
        </if>
    </select>

    <delete id="delete" parameterType="java.util.List">
        delete from sys_income
        <where>
            income_id in
            <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
                #{item.incomeId}
            </foreach>
        </where>
    </delete>

    <select id="selectOne" parameterType="com.hoomoomoo.fims.app.model.SysIncomeQueryModel"
            resultType="com.hoomoomoo.fims.app.model.SysIncomeModel">
        select
            <include refid="Base_Column_List"/>
        from sys_income
        <where>
            <if test="incomeId != null" >
                and income_id = #{incomeId}
            </if>
            <if test="userId != null" >
                and user_id = #{userId}
            </if>
            <if test="incomeType != null" >
                and income_type = #{incomeType}
            </if>
            <if test="incomeDate != null" >
                and to_char(income_date, 'yyyy-MM') = to_char(#{incomeDate}, 'yyyy-MM')
            </if>
            <if test="incomeCompany != null" >
                and income_company = #{incomeCompany}
            </if>
            <if test="incomeAmount != null" >
                and income_amount = #{incomeAmount}
            </if>
            <if test="isAdmin == false">
                and user_id = #{userKey}
            </if>
        </where>
    </select>

</mapper>