<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoomoomoo.fims.app.dao.SysSystemDao">

    <select id="loadBusinessId" resultType="java.lang.String">
        select 'user-' || max(to_number(user_id)) as businessId from sys_user
        union all
        select 'role-' || max(to_number(role_id)) as businessId from sys_role
        union all
        select 'userRole-' || max(to_number(user_role_id)) as businessId from sys_user_role
        union all
        select 'roleMenu-' || max(to_number(role_menu_id)) as businessId from sys_role_menu
        union all
        select 'income-' || max(to_number(income_id)) as businessId from sys_income
        union all
        select 'notice-' || max(to_number(notice_id)) as businessId from sys_notice
        union all
        select 'loginLog-' || max(to_number(log_id)) as businessId from sys_login_log
    </select>

    <select id="selectButtonAuthority" parameterType="com.hoomoomoo.fims.app.model.SysSystemQueryModel"
            resultType="java.lang.Boolean">
        select case when count(1) > 0 then '1' else '0' end buttonAuthority
        from sys_user_role a, sys_role_menu b, sys_menu c
        where a.role_id = b.role_id
        and b.menu_id = c.menu_id
        and a.user_id = #{userId}
        and c.parent_id = #{menuId}
        and c.menu_type = '3'
    </select>

    <select id="selectDataAuthority" parameterType="com.hoomoomoo.fims.app.model.SysSystemQueryModel"
            resultType="java.lang.Boolean">
        select
            case when count(1) > 0 then '1' else '0' end dataAuthority
        from sys_user_role a, sys_role_menu b, sys_menu c
        where a.role_id = b.role_id
        and b.menu_id = c.menu_id
        and a.user_id = #{userId}
        and c.menu_id = '20190000000000'
        and c.is_enable = '1'
        and c.menu_type = '4'
    </select>


</mapper>